body {
	background: #444 url(/assets/imgs/bg.png);
	color: #333;
	line-height: 1.8em;
	margin: 0;
	padding: 0;
}

body, input, textarea, select {
	font: 14px 'Microsoft YaHei', 'Helvetica Neue', Verdana, serif;
}

a {
	color: #1F4095;
	text-decoration: none;
	-webkit-transition: color .5s; 
}
a:hover {
	color: #000;
}

table td {
	padding: 2px 30px;
}

blockquote { margin-right: 0; }
blockquote p {
	display: block; 
	font:12px "Microsoft Yahei", Consolas, Monaco, monospace; 
	line-height: 1.5em;
	padding: 10px 20px; 
	/*background: #D6D6D6;*/
	color: #666; 
	/*border-top: 1px solid #B2B7B7;*/
	font-style: italic;
}
li { padding: 5px 0; line-height: 1.5em; }

#container { 
	width: 1200px;
}

#sidebar { float: left; width: 210px; padding: 20px 20px; color: #EEE; font-size: 12px; }
#sidebar ul { list-style: none; padding-left: 0; margin-top: 2px; }
#sidebar ul li { font-weight: bold; padding: 3px 0; line-height: 14px; }
#sidebar ul li ul { padding-top: 5px; padding-bottom: 5px; list-style: circle; padding-left: 35px; }
#sidebar ul li ul li { font-weight: normal; padding: 3px 0; }
#sidebar a { color: #ccc; }
#sidebar a:hover { color: #fff; }

#logo { 
	font: 30px 'Mate SC', serif; 
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 1px 2px #222;
}

#logo a { color: #fff; }
#logo a:hover { color: #ccc; }

#content {
	float: left;
	margin: 0;
	width: 790px;
	padding: 0 30px 30px;
	background: #F9FBFB url(/assets/imgs/body-bg.png); 
	color: #444; 
	box-shadow: 0px 0px 25px #21292E;
}
#content p { line-height: 1.8em; }
#content h3 span.misc { font-size: 12px; font-weight: normal; }
#content ul { 
	margin-top: 0; margin-bottom: 0;
}
#content ul li ul {
	padding-top: 5px;
}
#content ul li a { color:#1F4095; }
#content ul li a:hover { color:#000; }

#content .posts span { font-size: 11px; color: #666; }
#content #charpter {
	font-size: 12px;
	margin: 50px 20px 0 0;
	background: #eee;
	padding: 15px 30px 15px 10px;
	position:fixed;
	top: 0;
	left: 870px;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
#content #charpter li ul {
	margin-left: 0px;
	padding-left: 20px;
}

#content #charpter h3 {
	margin-top:0;
	margin-bottom: 5px;
	padding-left: 20px;
}

.radius {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#content #comment { margin-top: 20px; }
#sidebar ul.misc li { font-size: 11px; font-weight: normal; }

.hide {
	width:1px;
	height:1px;
	position:absolute;
	text-indent:-9999px;
	overflow:hidden;
}

.top {
	position:fixed;
	right:15px;
	bottom:15px;
	width:50px;
	height:25px;
	padding-top:25px;
	line-height:25px;
	background:#333;
	color:#888;
	display:block;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	font-size:14px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.top:before {
	position:absolute;
	top:11px;
	left:14px;
	content:"";
	border-bottom:11px solid #888;
	border-left:11px solid transparent;
	border-right:11px solid transparent;
}

.top:hover {
	color:#eee;
}

.top:hover:before {
	border-bottom-color:#eee;
}

.top {
	opacity:1;
	-webkit-transition: opacity 700ms linear;
	-moz-transition: opacity 700ms linear;
	transition: opacity 700ms linear;
}

.top.hidden {
	opacity:0;
}

.top.hidden {
	display:none;
}