<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<title>Wiki</title>
		<meta name="keywords" content="wiki, github, java, server, database, docker" />
		<meta name="description" content="个人wiki，用来记录工作学习中用到的数据资料。" />
		<link href='http://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/assets/style.css" />
		<link rel="stylesheet" type="text/css" href="/assets/ui.totop.css" />
		<link rel="stylesheet" type="text/css" href="/assets/pygments.css" />
		<script type="text/javascript" src="/assets/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/waypoints.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.ui.totop.js"></script>
		<script type="text/javascript" src="/assets/common.js"></script>
	</head>

	<body>
		<div id="container">
			<div id="sidebar">
				<div id="logo"><a href="/">Wiki</a></div>
				<div id="menu-nav">
					<ul>
						<li>Back-end
							<ul>
								<li><a href="/pages/other/server.html">Server</a></li>
								<li><a href="/pages/development-design/database.html">Database</a></li>
								<li><a href="/pages/back-end/java.html">Java</a>
							</ul>
						</li>
						<li>Web Development &amp; Design
							<ul>
								<!-- <li><a href="/pages/development-design/dotnet.html">.NET</a></li> -->
								<!-- <li><a href="/pages/development-design/actionscript.html">ActionScript</a></li> -->
								
								<!-- <li><a href="/pages/development-design/golang.html">Go</a></li> -->
								<!-- <li><a href="/pages/development-design/php.html">PHP</a></li> -->
								<li><a href="/pages/development-design/idev.html">iDev</a></li>
								<li><a href="/pages/development-design/python.html">Python</a></li>
								<li><a href="/pages/development-design/ruby.html">Ruby</a></li>
								<li><a href="/pages/development-design/web-front-end.html">Web Front-end</a></li>
							</ul>
						</li>						
						<li>Software
							<ul>
								<li><a href="/pages/software/osx.html">OS X</a></li>
								<li><a href="/pages/software/linux.html">Linux</a></li>
								<!-- <li><a href="/pages/software/windows.html">Windows</a></li> -->
								<!--<li><a href="/pages/software/ios.html">iOS</a></li>-->
								<li><a href="/pages/software/editor_ide.html">Editor &amp; IDE</a></li>
							</ul>
						</li>
						
						<li>Other
							<ul>
								<!-- <li><a href="/pages/other/game_development.html">Game Development</a></li> -->
								<li><a href="/pages/other/open_source_projects.html">Open Source</a></li>
								<li><a href="/pages/other/references.html">References</a></li>
								<li><a href="/pages/other/website.html">WebSite</a></li>
								<li><a href="/pages/other/hardware.html">Hardware</a></li>
								<li><a href="/pages/other/articles.html">Articles</a></li>
							</ul>
						</li>
					</ul>
					
					<ul>
						<li>Links
							<ul>
								<li><a href="http://liubin.me">Blog</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="content">
				{{ content }}
			</div>
			
		</div>

	<script type="text/javascript" src="http://tajs.qq.com/stats?sId=14106858" charset="UTF-8"></script>
	</body>
</html>